#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak
.vs/

ErrorLogs/
#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad
*.ncrunchproject
*.ncrunchsolution
.vscode/

#Other
.svn

#NuGet
packages/
!Nuget.exe

#Build Tools
!tools/

#Test Results
TestResults/
*nunit.xml

# GIt Merge Files
*.orig
/.gitattributes
*.pubxml
/Halfpenny.OrdersManagement/Halfpenny.OrdersManagement.UI.Web/PerformanceLogs

#Min js and min css files
/Halfpenny.OrdersManagement/Halfpenny.OrdersManagement.UI.Web/Scripts/hti/*.min.js
/Halfpenny.OrdersManagement/Halfpenny.OrdersManagement.UI.Web/Scripts/jquery-3.6.0.min.js
/Halfpenny.OrdersManagement/Halfpenny.OrdersManagement.UI.Web/Scripts/jquery-3.6.0.slim.min.js
/Halfpenny.OrdersManagement/Halfpenny.OrdersManagement.UI.Web/Scripts/jquery-migrate-3.3.0.min.js
/Halfpenny.OrdersManagement/Halfpenny.OrdersManagement.UI.Web/Scripts/jquery.maskedinput.min.js
/Halfpenny.OrdersManagement/Halfpenny.OrdersManagement.UI.Web/Scripts/jquery.validate.min.js
/Halfpenny.OrdersManagement/Halfpenny.OrdersManagement.UI.Web/Scripts/jquery.validate.unobtrusive.min.js
/Halfpenny.OrdersManagement/Halfpenny.OrdersManagement.UI.Web/Scripts/modernizr-2.6.2.min.js
/Halfpenny.OrdersManagement/Halfpenny.OrdersManagement.UI.Web/Scripts/respond.min.js

*/AccessError.txt