<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MasterDb_LOCAL" connectionString="server=.;database=FM_Master_QA1;Integrated Security=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="printErrorsOnly" value="1"/> <!-- put 0 or 1, 1 means true-->
  </appSettings>
</configuration>